.header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    height: 3rem;
}

.addButton {
    background-color: transparent;
    color: darkgrey;
    outline: none;
    border: none;
    height: 2rem;
}

.addButton:focus {
    outline: none;
    border: none;
}

.addButton:hover {
    color: #fff;
    transition: color 0.3s;
}