.container {
    display: flex;
    gap: 1rem;
    max-width: calc(100vw - 4rem);
    padding: 2rem;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    padding: 2vw;
    border: 1px solid #3f3f3f;
    border-radius: 8px;
}

.columnName {
    color: lightgray;
    font-size: 1.25rem;
    text-align: center;
}